body {
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Raleway", sans-serif;
  background-color: #fbfafa;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
  margin: 0;
}
